<template>
    <ion-page>
        <ion-header>
            <ion-toolbar color="primary">
                <ion-buttons slot="start">
                    <ion-button @click="back">
                        <ion-icon slot="icon-only" :icon="arrowBack"></ion-icon>
                    </ion-button>
                </ion-buttons>
                <ion-title>Input Kontak</ion-title>
            </ion-toolbar>
        </ion-header>
        <ion-content :fullscreen="true">
            <ion-header collapse="condense">
                <ion-toolbar>
                    <ion-title size="large">Tab 1</ion-title>
                </ion-toolbar>
            </ion-header>

            <ion-card>
                <ion-card-header>
                    <!-- <ion-card-subtitle>Awesome Subtitle</ion-card-subtitle> -->
                    <ion-card-title>Input Kontak</ion-card-title>
                </ion-card-header>
                <ion-card-content>

                    <ion-input v-model="name" label="Nama" label-placement="floating" fill="solid"
                        placeholder="Nama"></ion-input>
                    <br />
                    <ion-input v-model="phone" label="Nomor" label-placement="floating" fill="solid"
                        placeholder="Nomor"></ion-input>
                    <br />
                    <ion-input v-model="email" label="Email" label-placement="floating" fill="solid"
                        placeholder="Email"></ion-input>
                    <br />
                    <ion-textarea v-model="desc" label="Keterangan" label-placement="floating"
                        placeholder="Keterangan"></ion-textarea>
                    <br />

                </ion-card-content>
                <ion-card-content>
                    <ion-button @click="save" expand="block" fill="clear" shape="round">
                        Simpan
                    </ion-button>
                </ion-card-content>
            </ion-card>

        </ion-content>
    </ion-page>
</template>

<script setup lang="ts">
import { ref, onMounted } from "vue";
import { useRouter, useRoute } from "vue-router";
import { arrowBack } from "ionicons/icons";
import { db } from "../../provider/firebase";
import { collection, doc, setDoc, query, where, onSnapshot  } from "firebase/firestore";
import { getApp } from "firebase/app";

const router = useRouter()
const route = useRoute()
const id = ref<any>(null)
const name = ref()
const phone = ref()
const email = ref()
const desc = ref()

const back = () => {
    router.back()
}

const save = async () => {
    const data = {
        name: name.value,
        phone: phone.value,
        email: email.value,
        desc: desc.value,
    }

    const userRef = id.value ? doc(collection(db, 'users'), id.value) : doc(collection(db, 'users'))

    const res = await setDoc(userRef, data)

    router.back()
}

const mounted = onMounted(() => {
    const params = route.params

    id.value = params?.id

    if (id.value) {
        const unsubscribe = onSnapshot(
            doc(db, "users", id.value),
            { includeMetadataChanges: true },
            (doc) => {
                const d: any = doc.data()
                name.value = d?.name
                phone.value = d?.phone
                email.value = d?.email
                desc.value = d?.desc
            });
    }
})


</script>

<style scoped lang="scss"></style>