<template>
  <ion-page>
    <ion-header>
      <ion-toolbar color="primary">
        <ion-title>Kontak</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content :fullscreen="true">

      <ion-header collapse="condense">
        <ion-toolbar>
          <ion-title size="large">Kontak</ion-title>
        </ion-toolbar>
      </ion-header>

      <ion-list>
        <ion-item-sliding v-for="item in contacts">
          <ion-item @click="view(item)">
            <ion-label>
              <h2>{{ item.name }}</h2>
              <p>{{ item?.phone }}</p>
            </ion-label>
          </ion-item>

          <ion-item-options>
            <ion-item-option color="light" @click="fav(item)">
              <ion-icon color="danger" v-if="item?.isFav" slot="icon-only" :icon="heart"></ion-icon>
              <ion-icon color="danger" v-else slot="icon-only" :icon="heartOutline"></ion-icon>
            </ion-item-option>
            <ion-item-option color="light" @click="del(item)">
              <ion-icon color="danger" slot="icon-only" :icon="trashOutline"></ion-icon>
            </ion-item-option>
          </ion-item-options>
        </ion-item-sliding>
      </ion-list>

      <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button @click="addContact" color="primary">
          <ion-icon :icon="add"></ion-icon>
        </ion-fab-button>
      </ion-fab>

    </ion-content>
  </ion-page>
</template>

<script setup lang="ts">
import { useRouter } from "vue-router";
import { ref, onMounted } from "vue";
import { add, heart, heartOutline, trashOutline } from "ionicons/icons";
import { db } from "../provider/firebase";
import { collection, doc, query, where, onSnapshot, deleteDoc, setDoc } from "firebase/firestore";

const router = useRouter()
const contacts = ref<any[]>([])

const addContact = () => {
  router.push({ path: '/contact/add' })
}

const fav = async (item: any) => {
  const res = await setDoc(doc(collection(db, 'users'), item?.id), {
    isFav: !item?.isFav
  }, {
    merge: true
  })
}

const del = async (item: any) => {
  await deleteDoc(doc(db, "users", item?.id))
}

const view = (item: any) => {
  router.push({ path: '/contact/' + item?.id })
}

const mounted = onMounted(async () => {
  const unsubscribe  = onSnapshot(collection(db, 'users'),
    (querySnapshot) => {
      contacts.value = []
      querySnapshot.forEach((doc) => {
        const d: any = doc.data();
        contacts.value.push({ id: doc.id, ...d })
      })
    },
    error => {
      console.error(error)
    })

  // unsubscribe()
})
</script>
